// rose pale: #F3E9F1
// violet: #8F5BFE
// rose foncé: #B36F98
// orange: #D07E46

// Color variables------------------------
$primary: #F3E9F1;
$secondary: #B36F98;
$info: #8F5BFE;
$warning: #D07E46;


// Card variables------------------------
$card-border-width: 8px;
$card-border-radius: 20px;