@import "./variables-override";


// Header-------------------------
.nav-item {
font-size: large;
font-weight: 700;
}

// Page d'acceuil------------------
.btn-primary{
    color: $secondary;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus {
    color: darken($color: $secondary, $amount: 15);
}

//---Panier.html---------------
thead {
    color: $secondary;
    background-color: $primary;
}


.fa-trash-alt {
    color: $secondary;
    &:hover {
        color: $primary;
    }
}

.feedback {
    background-color: $primary;
    color: $secondary;
}

// Footer ---------------------------
footer a {
    color: $secondary;
}